<body class="container">
  <div style="text-align: center;"><br><br>

    <h2 class="container bg-info  text-white text-center my-1 py-1">Práctica</h2>

    <p>{{contador}}</p><br>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-dark" (click)="incrementar()">Incrementa +1</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-dark" (click)="decrementar()">Decrementa -1</button>
        </div>
      </div>
    </div><br><br><br>
    
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" [ngModel]="nombre" placeholder="Direccional">
        <label>{{nombre}}</label><br><br><br>
      </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Bidireccional" >
        <label>{{nombre}}</label><br><br><br>
      </div>
    </div><br><br>

    <app-dado [first_value]="first_value"></app-dado>
    <app-dado [second_value]="second_value"></app-dado>
    <app-dado [third_value]="third_value"></app-dado><br><br>
    
    <button class= "btn btn-outline-dark" (click)="ngOnInit()" (click)="resultado">Tirar dados</button><br><br>
    
    <div class="resultado">
      <div *ngIf="resultado">Ganó</div>
      <div *ngIf="!resultado">Perdío</div>
    </div>
  </div>  
</body>